
/* 
==========================================================================
Global General Settings
========================================================================== 
*/
body {
	-webkit-font-smoothing: antialiased;
}

h1 {
  font-family: "jaf-mashine", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h2 {
  font-family: "jaf-mashine", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.5em;
}
h3 {
  font-family: "jaf-mashine", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.25em;
}
p {
  font-family: "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
}
a:link, a:visited {
	color: #f47527;
	text-decoration: underline;
}
a:hover {
	color: #333;
}
button, .button {
	background-color: #fff;
	border: 2px solid #f47527;
	font-weight: bold;
}
a.button {
	text-decoration: none;
}

button:hover, button:focus, .button:hover, .button:focus {
	background-color: #f47527;
}

/* 
==========================================================================
Header & Nav Settings
========================================================================== 
*/

.top-bar, .contain-to-grid {
	background-color: #192026;
	height:	100px;
}
.top-bar-section ul li>a {
	font-family: "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
}
.top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"] {
	border-right: solid 1px #192026;
}
.contain-to-grid .top-bar {
	padding-top: 28px;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: #f47527;
	border-radius: 5px;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
	background: #fff;
	color: #333;
	border-radius: 5px;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background: #f47527;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	padding: 0 10px;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background: none;
}
.top-bar-section ul {
	background: none;
}
.top-bar-section ul li>a {
	font-size: 1em;
	text-transform: uppercase;
}

.tab-bar {
	background-color: black;
}
/* 
==========================================================================
Home
========================================================================== 
*/
.top-bar-container, .tab-bar {
}

.homepage-hero {
	margin-top: -2em;
	background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url(../assets/img/hero.jpg) no-repeat top center ;
	background-size: cover;
	padding: 10% 0;
}
.homepage-hero h1 {
	color: #fff;
	font-size: 2.25em;
	line-height: 1.5;
	text-align: center;
}
.programs-feature {
	background-color: #f47527;
	padding: 5% 0;
}

.programs-feature h1 {
	color: #fff;
	font-size: 3em;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
.programs-feature p {
	font-size: 2.5em;
	line-height: 1;
	font-size: 2em;
	line-height: 1.5;
	color: #333;
}
.programs-feature p a:link,
.programs-feature p a:visited {
	color: #333;
	text-decoration: underline;
}
.programs-feature p a:hover {
	color: #000;
}
.bikerodeo-feature {
	background-color: #192026;
	padding: 4% 0 3% 0;
}
.bikerodeo-feature p {
	color: #fff;
	font-size: 1.75em;
	display: inline-block;
	vertical-align: top;
	padding: 2px 0 0 10px;
}
.bikerodeo-feature p a:hover {
	color: #fff;
}
.bikerodeo-feature span {
	font-family: "jaf-mashine", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 5em;
	color: #f47527;
	display: inline;
}
.bikerodeo-feature h1 {
	color: #fff;
}
.video-feature{
	background-color: #222b33;
	padding: 4% 0;
	text-align: center;
}
.testimonial {
	background-color: #d8d2ca;
	padding: 4% 0;
}
.testimonial blockquote {
	font-size: 1.88em;
	line-height: 1.5;
	font-family: "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
	border-left: none;
	padding: 0;
	margin: 0;
	color: #686868;
	display: block;
}
.testimonial cite {
	font-family: "jaf-mashine", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1em;
	font-style: normal;
	color: #686868;
	padding-top: 20px;
	display: block;
}
.content {
	padding: 3% 0;
}
.content ul {
	font-family: "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
	list-style: none;
	padding: 0;
	margin: 0;
}
.content li { 
    padding-left: 1em; 
    text-indent: -.7em;
}
.content li:before {
    content: "• ";
    color: #f47527;
}
/* 
==========================================================================
Footer Settings
========================================================================== 
*/
.footer {
	background: #30373e;
	height: 250px;
	color: #fff;
	padding-top: 40px;
}

.footer a:link, .footer a:visited {
	color: #fff;
	text-decoration: none;
}
.footer a:hover {
	color: #f47527;
}
.social li {
	display: inline;
	margin-right: 10px;
}
ul.social {
	margin-left: 0px;
}
.social a:link {
	opacity:0.7;
}
.social a:hover {
	opacity:1;
}
.footer p {
	border-top: 6px solid #56606a;
	margin-top: 20px;
	padding-top: 20px;
}