
/* 
==========================================================================
Global General Settings
========================================================================== 
*/
body {
	-webkit-font-smoothing: antialiased;
}

h1 {
  font-family: "jaf-mashine", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h2 {
  font-family: "jaf-mashine", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.5em;
}
h3 {
  font-family: "jaf-mashine", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.25em;
}
body {
  font-family: "ff-tisa-web-pro-n4", "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
  font-style: normal;
}
a, a:link, a:visited {
	color: #f47527;
	text-decoration: underline;
}
a:hover {
	color: #333;
}
button, .button {
	background-color: #fff;
	border: 2px solid #f47527;
	font-family: "ff-tisa-web-pro-n4", "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
	font-weight: 700;
	font-style: normal;
	color: #333;
}
a.button {
	text-decoration: none;
	color: #333;
}

button:hover, button:focus, .button:hover, .button:focus {
	background-color: #f47527;
}

/* 
==========================================================================
Header & Nav Settings
========================================================================== 
*/

.top-bar, .contain-to-grid {
	background-color: #192026;
	height:	100px;
	padding: 28px;
}
.top-bar-section ul li>a {
	font-family: "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
}
.top-bar-section ul li {
	margin-right: 1px;
}
.contain-to-grid .top-bar {
	padding-top: 28px;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: #f47527;
	border-radius: 5px;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
	border-radius: 5px;
	background: #f47527;
	color: #333;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background: #f47527;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	padding: 0 10px;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background: none;
}
.top-bar-section .dropdown li:not(.has-form) a:not(.button):hover {
	background: #f47527;
	border-radius: 0px; 
}
.top-bar-section ul {
	background: none;
}
.top-bar-section ul li>a {
	font-size: 1em;
	text-transform: uppercase;
}
.tab-bar {
	background-color: black;
	height: 50px;
}
.top-bar-section .dropdown ul li a {
	border-radius: 5px;
	background-color: #f47527;
}
#navigation li.divider {
	display: none;
}
#navigation li ul {
	left:0;
	right: auto;
	background-color: #000;
}
#navigation li ul li ul {
	left: 100%;
	right: auto;
}
#navigation .current-menu-item {
	background-color: #f47527;
	color: #1F6684;
	border-radius: 5px
}

#navigation .current-menu-item a{
	background-color: #f47527;
}
#navigation .current-menu-item li a {
	border-radius: 0px;
	background-color: #333;
	color: #fff;
}
#navigation .current-menu-item ul {
	margin-top: 0px;
}
#navigation .current-menu-item a:hover {
	background-color: #f47527;
	color: #fff;
}
.top-bar-section .dropdown ul li a:hover  {
}

#navigation li ul li ul li a,
#navigation .current-menu-item li ul li a {
	border-radius: 0px;
	background-color: #444;
}
#navigation li ul li ul li a:hover  {
	border-radius: 0px;
	background-color: #f47527;
}
.left-small {
	width: 56px;
	height: 50px;
	position: absolute;
	top: 0;
	border-right: solid 1px #fff;
	left: 0;
	padding-top: 2px;
	background: #f47527;
}
.tab-bar .menu-icon span,
.tab-bar .menu-icon:hover span {
	position: absolute;
	display: block;
	height: 0px;
	width: 24px;
	line-height: 1;
	top: 0.9375rem;
	left: 0.90625rem;
	box-shadow: 0 0px 0 2px #ffffff,0 8px 0 2px #ffffff,0 16px 0 2px #ffffff;
}
.nav-mobile ul li a {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	background-color: #333;
}
.nav-mobile ul li ul li a {
	padding-left: 20px;
	background-color: #505050;
}
.nav-mobile ul li ul li ul li a {
	padding-left: 30px;
	background-color: #636363;
}
.nav-mobile ul li {
	list-style: none;
}
.nav-mobile ul li ul, ul li ol {
	margin-left: 0;
}
.nav-logo a img {
border: none;
padding: 0 10px 0 20px;
}
#navigation a {
	font-weight: 700;
	font-size: .85em;
}
/* 
==========================================================================
Blog Styles
========================================================================== 
*/
h1.entry-title {
	font-size: 34px;
	line-height: 1;
}
h2.post-title a {
	text-decoration: none;
	font-size: 34px;
	line-height: 1;
	color:	#333;
}
h2.post-title a:hover {
	color: #f47527;
}
.entry-content p {
	font-size: 18px;
	line-height: 24px;
}
.entry-content img {
	display: block;
	padding-bottom: 20px;
}
hr {
	border: solid #eee;
	border-width: 5px 0 0;
	clear: both;
	margin: 30px 0;
	height: 0;
}
ul.pagination li.current a {
	background-color: #f47527;
	text-decoration: none;
}
ul.pagination li.current a:hover, ul.pagination li.current a:focus {
	background-color: #333;
}
ul.pagination {
	height: 50px;
}
ul.pagination li a {
	display: block;
	padding: 0.0625rem 0.625rem 0.0625rem;
	color: #505050;
	border-radius: 3px;
	text-decoration: none;
	font-weight: 700;
}
p.tags {
	padding: 10px;
	border: 2px solid #eee;
	text-align: center;
}
figure {
	line-height: 1.5;
	margin: 0;
}
/* 
==========================================================================
Home
========================================================================== 
*/
.top-bar-container, .tab-bar {
}

.homepage-hero {
	margin-top: -2em;
	background-color: #222b33;
	background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url(../assets/img/hero.jpg) no-repeat top center ;
	background-size: cover;
	padding: 10% 0;
}
.homepage-hero h1 {
	color: #fff;
	font-size: 2.25em;
	line-height: 1.5;
	text-align: center;
}
.programs-feature {
	background-color: #f47527;
	padding: 5% 0;
}

.programs-feature h1 {
	color: #fff;
	font-size: 3em;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
.programs-feature p {
	font-size: 2.5em;
	line-height: 1;
	font-size: 2em;
	line-height: 1.5;
	color: #333;
}
.programs-feature p a:link,
.programs-feature p a:visited {
	color: #333;
	text-decoration: underline;
}
.programs-feature p a:hover {
	color: #000;
}
.bikerodeo-feature {
	background-color: #192026;
	padding: 4% 0 3% 0;
}
.bikerodeo-feature p {
	color: #fff;
	font-size: 1.75em;
	display: inline-block;
	vertical-align: top;
	padding: 2px 0 0 10px;
}
.bikerodeo-feature p a:hover {
	color: #fff;
}
.bikerodeo-feature span {
	font-family: "jaf-mashine", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 5em;
	color: #f47527;
	display: inline;
}
.bikerodeo-feature h1 {
	color: #fff;
}
.video-feature{
	background-color: #222b33;
	padding: 4% 0;
	text-align: center;
}
.testimonial {
	background-color: #d8d2ca;
	padding: 4% 0;
}
.testimonial blockquote {
	font-size: 1.88em;
	line-height: 1.5;
	font-family: "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
	border-left: none;
	padding: 0;
	margin: 0;
	color: #686868;
	display: block;
}
.testimonial cite {
	font-family: "jaf-mashine", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1em;
	font-style: normal;
	color: #686868;
	padding-top: 20px;
	display: block;
}
.content {
	padding: 3% 0;
}
.content ul {
	font-family: "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
	list-style: none;
	padding: 0;
	margin: 0;
}
.content li { 
    padding-left: 1em; 
    text-indent: -.7em;
}
.content li:before {
    content: "• ";
    color: #f47527;
}
.content p {
	font-family: "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
}
.program-links {
	margin-bottom: 5%;
}
/* 
==========================================================================
Footer Settings
========================================================================== 
*/
.footer {
	background: #30373e;
	height: 270px;
	color: #fff;
	padding-top: 40px;
}

.footer a:link, .footer a:visited {
	color: #fff;
	text-decoration: none;
}
.footer a:hover {
	color: #f47527;
}
.social li {
	display: inline;
	margin-right: 10px;
}
ul.social {
	margin-left: 0px;
}
.social a:link {
	opacity:0.7;
}
.social a:hover {
	opacity:1;
}
.footer p {
	border-top: 6px solid #56606a;
	margin-top: 20px;
	padding-top: 20px;
}

/* 
==========================================================================
Form Settings
========================================================================== 
*/
.gform_wrapper .gfield_checkbox li, .gform_wrapper .gfield_radio li {
	display: inline-block;
}
.gform_wrapper ul.gfield_checkbox li input[type=checkbox], .gform_wrapper ul.gfield_radio li input[type=radio] {
	margin: 0 5px 0;
}
.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
	margin: 0 24px 0 24px !important;
}