@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'open_sansbold';
        src: url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

@media all and (max-width: 767px) {
	.homepage-hero h1 {
		font-size: 1em;
		padding-bottom: 30px;
	}
	.programs-feature h1 {
		font-size: 1.2em;
		padding-top: 4%;
	}
	.programs-feature {
		text-align: center;
	}
	.programs-feature p {
		font-size: 1em;
	}
	.bikerodeo-feature {
		text-align: center;
		padding-top: 10%;
	}
	.bikerodeo-feature p {
		font-size: 1em;
	}
	.testimonial blockquote {
		font-size: 1.2em;
	}
	.content h2 {
		font-size: 1.25em;
	}
	.donate-volunteer-feature .column, .donate-volunteer-feature .columns {
		padding-right: 7px;
		padding-left: 7px;
	}
	.donate-feature h3 {
		margin-top: 25px;
	}
	.donate-feature .panel {
		padding: 20px 5px 0px;
}
}
@media all and (max-width: 1024px) {
	.top-bar-section {
		float: left;
		clear: left;
		padding-top: 20px;
	}
	.top-bar {
		height: 140px;
	}
}
@media all and (min-width: 1025px) {
	ul.social {
		text-align: right;
	}
}